<nav class="navbar navbar-expand-lg navbar-light bg-white z-index-3 py-3 shadow-lg fixed-top">
	<div class="container">
		<a class="navbar-brand" href="{{ path('app_home') }}">
			Super Markit
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
				aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav navbar-nav-hover mx-auto">
				<li class="nav-item px-3">
					<a class="nav-link" href="{{ path('app_home') }}">
						Home
					</a>
				</li>
				<li class="nav-item px-3">
					<a class="nav-link" href="{{ path('app_categories') }}">
						Categories
					</a>
				</li>
				<li class="nav-item px-3">
					<a class="nav-link" href="{{ path('app_home') }}">
						Product
					</a>
				</li>
				<li class="nav-item px-3">
					<a class="nav-link" href="{{ path('app_order') }}">
						Order
					</a>
				</li>
			</ul>
			<div class="d-flex justify-content-around align-items-center">
				<div class="mx-3">
					<a href="{{ path('app_favourite') }}">
						<i class="fa-solid fa-heart fa-xl mx-2 text-danger"></i>
					</a>
					<a href="{{ path('app_shopping_basket') }}" class="position-relative">
						<i class="fa-solid fa-cart-shopping fa-xl mx-2">
							{% if numberOfProduct is defined and numberOfProduct > 0 %}
								<span class="fw-light position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
									  style="font-size: 0.7rem;">
									+{{ numberOfProduct }}
								</span>
							{% endif %}
						</i>
					</a>
				</div>
				<div class="ms-4 d-flex align-items-center">
					{% if app.user %}
						<div class="dropdown-center">
							<button class="dropdown-toggle btn btn-outline-dark" type="button"
									data-bs-toggle="dropdown"
									aria-expanded="false">
								<i class="fa-solid fa-circle-user fa-2xl"></i>
							</button>
							<ul class="dropdown-menu">
								{% if is_granted("ROLE_CASHIER") or is_granted("ROLE_ACCOUNTANT") %}
									<li>
										<a class="dropdown-item" href="{{ path('app_admin') }}">
											<i class="fa-solid fa-table-columns me-2"></i>
											Dashboard
										</a>
									</li>
								{% endif %}
								<li>
									<a class="dropdown-item" href="{{ path('app_profile') }}">
										<i class="fa-solid fa-address-card me-2"></i>
										profile
									</a>
								</li>
								{% if app.user.googleId is null %}
									<li>
										<a class="dropdown-item" href="{{ path('app_forgot_password_request') }}">
											<i class="fa-solid fa-repeat me-2"></i>
											Reset password
										</a>
									</li>
								{% endif %}
								<li>
									<a class="dropdown-item" href="{{ path('app_logout') }}">
										<i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
										<span>Logout</span>
									</a>
								</li>
							</ul>
						</div>
					{% else %}
						<a class="btn btn-outline-dark mb-0 mx-2" href="{{ path('app_register') }}">sign up</a>
						<a class="btn btn-outline-primary mb-0" href="{{ path('app_login') }}">sign in</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</nav>
