{% for item in shoppingBasket %}
	{% set product = item["product"] %}
	{% set category = product.getCategory() %}
	<div class="row border-bottom m-3 pb-3 pt-5">
		<div class="m-auto row align-items-center">
			<div class="col-2 d-flex justify-content-center">
				<img class="img-fluid"
					 src="{{ path('app_get_picture', {'id': product.getId(), 'type': 'product'}) }}"
					 alt="product photo"
					 style="width: 5rem; height: 5rem"
				>
			</div>
			<div class="col d-flex flex-column align-items-start">
				<div class="row text-muted  my-1">{{ product.getName() }}</div>
				<div class="row">{{ category.getName() }}</div>
			</div>
			<div class="col d-flex justify-content-center align-items-center gap-3">
				<input type="text" class="form-control text-center"
					   value="{{ item["quantity"] }}"
					   disabled
					   style="max-width: 4rem"
				>
			</div>
			<div class="col d-flex justify-content-center">
				<span class="text-center"> € {{ product.getPrice() }} </span>
			</div>
			<div class="col d-flex justify-content-center">
				<span class="text-center"> € {{ product.getPrice() * item["quantity"] }} </span>
			</div>
		</div>
	</div>
{% endfor %}
<div class="row m-3 pb-2 pt-4">
	<div class="m-auto row align-items-center">
		<div class="col-10 d-flex justify-content-center">
			<span class="fs-4">Total</span>
		</div>
		<div class="col d-flex justify-content-center">
			<span class="text-center"> € {{ total }} </span>
		</div>
	</div>
</div>
